In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/transacoes.csv", sep=";")
df.head()

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch

#### Paralelo explicação de filtro

In [16]:
brinquedo = pd.DataFrame(
    {
        "nome": ["jailton", "joao", "pedro"],
        "idade": [27, 31, 37],
        "uf": ["es", "sp", "rj"]
    }
)

In [17]:
filtro = brinquedo["idade"] >= 30
filtro

0    False
1     True
2     True
Name: idade, dtype: bool

In [18]:
brinquedo[filtro]

    nome  idade  uf
1   joao     31  sp
2  pedro     37  rj