In [1]:
import pandas as pd

In [2]:
df_clientes = pd.read_csv("../data/clientes.csv", sep=";")
df_clientes

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367
...,...,...,...,...,...,...,...,...,...
4854,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4855,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4856,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,2021,2025-08-25 13:09:12.556,2026-01-30 14:43:50.139
4857,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4858,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [3]:
df_clientes.head(7)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367
5,002970bd-65c2-42bf-a17d-2bc5e95e2f0b,0,1,0,0,0,0,2025-07-16 09:36:45.831,2025-07-16 09:36:45.831
6,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,2561,2025-02-19 12:48:24.632,2025-08-04 12:06:09.677

In [4]:
df_clientes.tail(7)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
4852,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,59,2025-01-21 11:49:58.172,2026-01-12 12:20:49.014
4853,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4854,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
4855,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4856,ff5d2399-6b53-49f0-b41e-fdaaa0da172a,0,1,0,0,0,2021,2025-08-25 13:09:12.556,2026-01-30 14:43:50.139
4857,ff8d55dc-64fa-40de-992a-04a4155f5634,0,1,0,0,0,0,2025-07-12 13:50:37.959,2025-07-12 13:50:37.959
4858,fff7862d-4b2c-4140-a4c5-509b48ed31b4,0,1,0,0,0,1000,2025-11-12 01:01:58.698,2025-11-12 01:02:16.561

In [5]:
df_clientes.sample(10)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
656,1fe0d989-c71f-48b3-beb1-053a7597e89f,0,1,0,0,0,50,2025-02-28 12:09:12.030,2025-02-28 12:09:36.638
2921,97c34882-7f19-4299-af90-202b3511c67f,0,1,0,0,0,0,2025-07-18 17:13:14.038,2025-07-18 17:13:14.038
2962,99e114d4-529a-43e6-81e5-cab19988b205,0,1,0,0,0,159,2025-07-08 14:02:17.203,2025-08-14 12:22:58.509
4289,df6af3ba-4b6e-4975-89e2-1ce8b2710160,0,1,0,0,0,436,2025-07-15 22:52:24.080,2025-08-29 12:07:41.894
4456,e890b48d-bff1-4056-bf34-92f75db367c9,0,1,0,0,0,0,2025-09-16 20:29:57.389,2025-09-16 20:29:57.389
2766,8f8c5c6e-d176-4f14-96a5-491e7a25b253,0,0,0,0,0,150,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3564,ba933d33-7a01-4780-835b-32e4f452d352,0,1,0,0,0,101,2025-01-27 11:04:21.158,2025-02-10 11:08:46.119
2727,8d5fb78d-b2ce-4e5e-9aea-38d75dc94172,0,0,0,0,0,51,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
1624,53fcec59-e051-42ec-bd48-c71e0e4279bd,0,0,0,0,0,101,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
394,12c97f0a-2f1b-4b41-95c6-34510f4f236c,0,1,0,0,0,1717,2024-11-04 12:18:08.301,2024-11-04 12:18:08.301

In [6]:
df_clientes.shape

(4859, 9)

In [7]:
df_clientes.columns

Index(['idCliente', 'flEmail', 'flTwitch', 'flYouTube', 'flBlueSky',
       'flInstagram', 'qtdePontos', 'DtCriacao', 'DtAtualizacao'],
      dtype='object')

In [8]:
df_clientes.index

RangeIndex(start=0, stop=4859, step=1)

In [9]:
df_clientes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4859 entries, 0 to 4858
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   idCliente      4859 non-null   object
 1   flEmail        4859 non-null   int64
 2   flTwitch       4859 non-null   int64
 3   flYouTube      4859 non-null   int64
 4   flBlueSky      4859 non-null   int64
 5   flInstagram    4859 non-null   int64
 6   qtdePontos     4859 non-null   int64
 7   DtCriacao      4859 non-null   object
 8   DtAtualizacao  4859 non-null   object
dtypes: int64(6), object(3)
memory usage: 1.3 MB

In [10]:
df_clientes.dtypes

idCliente        object
flEmail           int64
flTwitch          int64
flYouTube         int64
flBlueSky         int64
flInstagram       int64
qtdePontos        int64
DtCriacao        object
DtAtualizacao    object
dtype: object

In [11]:
df_clientes.dtypes["flEmail"]

dtype('int64')