In [83]:
import pandas as pd

In [84]:
df = pd.read_csv("../data/transacoes.csv", sep=";")
df

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
...,...,...,...,...,...
290585,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
290586,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
290587,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
290588,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
290589,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [85]:
df.shape

(290590, 5)

In [86]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290590 entries, 0 to 290589
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   IdTransacao        290590 non-null  object
 1   IdCliente          290590 non-null  object
 2   DtCriacao          290590 non-null  object
 3   QtdePontos         290590 non-null  int64
 4   DescSistemaOrigem  290590 non-null  object
dtypes: int64(1), object(4)
memory usage: 84.5 MB

In [87]:
df.dtypes

IdTransacao          object
IdCliente            object
DtCriacao            object
QtdePontos            int64
DescSistemaOrigem    object
dtype: object

In [88]:
renamed_columns = {
    "QtdePontos": "QtPontos", 
    "DescSistemaOrigem": "SistemaOrigem"
    }

In [89]:
df = df.rename(columns=renamed_columns)

In [90]:
df

,IdTransacao,IdCliente,DtCriacao,QtPontos,SistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
...,...,...,...,...,...
290585,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
290586,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
290587,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
290588,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
290589,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [91]:
df[["IdCliente", "QtPontos"]].head()

                              IdCliente  QtPontos
0  24782f0b-4683-4f35-976a-ea21d6714ba6         1
1  252a0923-3f79-45bb-b664-3040235c6c58         1
2  30f45a6d-ada5-4a17-8338-710e414eb6c6         1
3  65662aff-44d6-4f06-b9d9-07445c6e5943         1
4  5f8fcbe0-6014-43f8-8b83-38cf2f4887b3         1

In [92]:
df.head()

,IdTransacao,IdCliente,DtCriacao,QtPontos,SistemaOrigem
0,0000520a-a4e5-4977-b360-17be62fa0f2b,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-09-17 12:28:41.864,1,twitch
1,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
2,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,30f45a6d-ada5-4a17-8338-710e414eb6c6,2025-09-17 13:38:57.479,1,twitch
3,0000c010-a592-46f7-8b0b-6f841bee64ba,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-10-03 12:23:39.779,1,twitch
4,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch

In [93]:
df[["IdCliente", "IdTransacao", "QtPontos"]].head()

,IdCliente,IdTransacao,QtPontos
0,24782f0b-4683-4f35-976a-ea21d6714ba6,0000520a-a4e5-4977-b360-17be62fa0f2b,1
1,252a0923-3f79-45bb-b664-3040235c6c58,000060e8-aa76-4286-a8d7-f30e6fa47edd,1
2,30f45a6d-ada5-4a17-8338-710e414eb6c6,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,1
3,65662aff-44d6-4f06-b9d9-07445c6e5943,0000c010-a592-46f7-8b0b-6f841bee64ba,1
4,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,0000dfbb-e14e-4ea7-a57f-60236869fffe,1

In [94]:
colunas = list(df.columns)
colunas.sort()
colunas

['DtCriacao', 'IdCliente', 'IdTransacao', 'QtPontos', 'SistemaOrigem']

In [95]:
df = df[colunas]
df

,DtCriacao,IdCliente,IdTransacao,QtPontos,SistemaOrigem
0,2025-09-17 12:28:41.864,24782f0b-4683-4f35-976a-ea21d6714ba6,0000520a-a4e5-4977-b360-17be62fa0f2b,1,twitch
1,2024-07-23 12:49:49.874,252a0923-3f79-45bb-b664-3040235c6c58,000060e8-aa76-4286-a8d7-f30e6fa47edd,1,twitch
2,2025-09-17 13:38:57.479,30f45a6d-ada5-4a17-8338-710e414eb6c6,000095de-3daa-4cfb-a0ae-e7b2c8bc3c9b,1,twitch
3,2025-10-03 12:23:39.779,65662aff-44d6-4f06-b9d9-07445c6e5943,0000c010-a592-46f7-8b0b-6f841bee64ba,1,twitch
4,2024-02-20 13:21:45.613,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,0000dfbb-e14e-4ea7-a57f-60236869fffe,1,twitch
...,...,...,...,...,...
290585,2025-01-03 12:59:27.229,6313ceac-7806-4d34-aedd-476eed7c853a,ffff45c7-83dc-4fa9-82b5-b41352093596,1,twitch
290586,2024-02-24 12:22:26.313,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,ffff52de-13fb-4405-a797-fddb5b4a48c5,1,twitch
290587,2024-08-16 13:09:42.576,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,1,twitch
290588,2024-02-06 11:51:24.788,2d3d2dce-d353-4961-ad39-46723efe2100,ffffc72e-d882-47f0-b933-cfd92c7e6621,1,twitch
290589,2024-08-21 14:13:31.788,65662aff-44d6-4f06-b9d9-07445c6e5943,fffff928-9a18-4741-a516-3a92351d1d72,1,twitch