In [50]:
import pandas as pd

In [51]:
df = pd.read_csv("../data/clientes.csv", sep=";")
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367

In [52]:
df["qtdePontos"].astype(float)

0           2.0
1       25086.0
2          50.0
3           2.0
4           0.0
         ...
4854       57.0
4855       50.0
4856     2021.0
4857        0.0
4858     1000.0
Name: qtdePontos, Length: 4859, dtype: float64

In [53]:
df["DtCriacao"].replace({
    "0000-00-00 00:00:00.000" : "2000-01-01 00:00:00.000"
})

0       2025-11-13 12:03:56.114
1       2024-02-01 00:00:00.000
2       2024-02-01 00:00:00.000
3       2024-02-01 00:00:00.000
4       2025-10-29 02:08:18.367
                 ...
4854    2025-02-10 11:12:30.631
4855    2024-02-01 00:00:00.000
4856    2025-08-25 13:09:12.556
4857    2025-07-12 13:50:37.959
4858    2025-11-12 01:01:58.698
Name: DtCriacao, Length: 4859, dtype: object

In [54]:
df["DtCriacao"] = pd.to_datetime(df["DtCriacao"])

In [55]:
df["DtCriacao"] = df["DtCriacao"].dt.date

In [56]:
df["DtAtualizacao"] = pd.to_datetime(df["DtAtualizacao"]).dt.date

In [57]:
df.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13,2025-12-13
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01,2025-09-26
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01,2024-02-01
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01,2024-02-01
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29,2025-10-29