In [132]:
import pandas as pd
import numpy as np

In [133]:
clientes = pd.read_csv("../data/clientes.csv", sep=";")

In [134]:
# Crie uma coluna nova “twitch_points” que e resultado da multiplicação do saldo de pontos e a marcação da twitch
clientes["twitch_points"] = clientes["flTwitch"] * clientes["qtdePontos"]
clientes.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,twitch_points
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364,2
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,0
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367,0

In [135]:
# Aplique o log na coluna de saldo de pontos, criando uma coluna nova
clientes["logPontos"] = np.log(clientes["qtdePontos"])
clientes.head()

c:\Users\jailtonsilva\AppData\Local\Programs\Python\Python314\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,twitch_points,logPontos
0,000dc0f6-e4f2-4a42-b8cd-b586ed1c709a,0,1,0,0,0,2,2025-11-13 12:03:56.114,2025-12-13 11:45:37.364,2,0.693147
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,0,10.130065
2,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0,3.912023
3,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,2024-02-01 00:00:00.000,2024-02-01 00:00:00.000,0,0.693147
4,0028dda2-334f-40bb-9582-475fb6719471,0,1,0,0,0,0,2025-10-29 02:08:18.367,2025-10-29 02:08:18.367,0,-inf

In [136]:
# Crie uma coluna que sinalize se a pessoa tem vínculo com alguma (qualquer uma) plataforma de rede social.
clientes["social"] = clientes["flEmail"] | clientes["flTwitch"] | clientes["flYouTube"] | clientes["flBlueSky"] | clientes["flInstagram"]
clientes[["flEmail", "flTwitch", "flYouTube", "flBlueSky", "flInstagram", "social"]].head()

   flEmail  flTwitch  flYouTube  flBlueSky  flInstagram  social
0        0         1          0          0            0       1
1        0         0          0          0            0       0
2        0         0          0          0            0       0
3        0         0          0          0            0       0
4        0         1          0          0            0       1

In [137]:
# Qual é o id de cliente que tem maior saldo de pontos? E o menor?
clientes.sort_values(by="qtdePontos", ascending=False).head(1)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,twitch_points,logPontos,social
1,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,25086,2024-02-01 00:00:00.000,2025-09-26 13:28:37.697,0,10.130065,0

In [138]:
clientes.sort_values(by="qtdePontos", ascending=True).head(1)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,DtCriacao,DtAtualizacao,twitch_points,logPontos,social
4826,fdf6975d-d468-4777-a9de-715848d2153d,0,1,0,0,0,0,2025-10-20 22:34:43.768,2025-10-20 22:34:43.768,0,-inf,1

In [139]:
# Selecione a primeira transação diária de cada cliente.

transacoes = pd.read_csv("../data/transacoes.csv", sep=";")

transacoes = transacoes.sort_values("DtCriacao")

transacoes["data"] = pd.to_datetime(transacoes["DtCriacao"]).dt.date
transacoes.head()

transacoes.drop_duplicates(keep="first", subset=["IdCliente", "data"])

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem,data
285309,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1,twitch,2024-01-27
195388,ac18e5fd-eb6e-4d83-9bf1-bd8973fcd1b4,2d3d2dce-d353-4961-ad39-46723efe2100,2024-01-29 11:55:05.127,1,twitch,2024-01-29
44321,270948e3-a015-4255-be6a-36010d26b74d,c4f241f8-2140-4f72-b1a3-904fcc51e38c,2024-01-29 11:57:14.602,1,twitch,2024-01-29
6920,060cc463-a074-4c65-867c-bb88606a6123,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-01-29 11:59:41.832,1,twitch,2024-01-29
91008,505b94d7-9bcb-48f1-803d-337245f02c45,03d75a45-0b36-4fd7-a84e-7b36912f1998,2024-01-29 12:00:02.504,1,twitch,2024-01-29
...,...,...,...,...,...,...
55830,3125d92f-f211-4e9a-9d35-29a820993f7f,727084f7-a8e7-4add-bcc7-ec5791cfba03,2026-02-04 13:42:20.196,50,twitch,2026-02-04
49269,2b583b65-a71c-4963-a207-b4776b27f5cb,def56b88-a05b-465b-80ee-702831d3f535,2026-02-04 13:42:45.306,50,twitch,2026-02-04
282082,f86fb0cf-24d5-4398-8676-86a04d987a64,7107771a-0558-4aaa-a66e-570205a7f367,2026-02-04 13:50:09.024,50,twitch,2026-02-04
165720,9231b714-726e-45c1-840e-5ec049410688,6313ceac-7806-4d34-aedd-476eed7c853a,2026-02-04 13:53:11.157,50,twitch,2026-02-04
27376,181374ba-3b97-4ed1-9b25-16dda9133fa0,dabb23c0-d797-4f18-a52b-d1e9f43c3504,2026-02-04 14:05:08.074,1,twitch,2026-02-04

In [141]:
first = transacoes.drop_duplicates(keep="first", subset=["IdCliente", "data"])
last = transacoes.drop_duplicates(keep="last", subset=["IdCliente", "data"])

pd.concat([first, last])

,IdTransacao,IdCliente,DtCriacao,QtdePontos,DescSistemaOrigem,data
285309,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1,twitch,2024-01-27
195388,ac18e5fd-eb6e-4d83-9bf1-bd8973fcd1b4,2d3d2dce-d353-4961-ad39-46723efe2100,2024-01-29 11:55:05.127,1,twitch,2024-01-29
44321,270948e3-a015-4255-be6a-36010d26b74d,c4f241f8-2140-4f72-b1a3-904fcc51e38c,2024-01-29 11:57:14.602,1,twitch,2024-01-29
6920,060cc463-a074-4c65-867c-bb88606a6123,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-01-29 11:59:41.832,1,twitch,2024-01-29
91008,505b94d7-9bcb-48f1-803d-337245f02c45,03d75a45-0b36-4fd7-a84e-7b36912f1998,2024-01-29 12:00:02.504,1,twitch,2024-01-29
...,...,...,...,...,...,...
116406,66daecd4-a2dd-40f4-9151-ee700bede57a,1370597d-57dc-46ae-9d2f-ac6e4a285c81,2026-02-04 14:08:39.003,1,twitch,2026-02-04
100584,58e46329-4241-4d0c-b469-a5d94ad21c48,24782f0b-4683-4f35-976a-ea21d6714ba6,2026-02-04 14:09:34.485,1,twitch,2026-02-04
212525,bb42605d-5ea1-4fe4-95da-189ced315df4,6dece871-c22b-40a9-a919-19a88acf3401,2026-02-04 14:09:37.012,1,twitch,2026-02-04
49427,2b802dd3-e5ef-41ce-9909-08d71e5a9b8c,056caf66-d67b-449e-8cba-0bab8aca5949,2026-02-04 14:09:42.385,1,twitch,2026-02-04
102729,5acfbe68-49ca-48cb-adfb-56c0fbfe3199,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2026-02-04 14:09:42.600,1,twitch,2026-02-04